<section class="ftco-section ftco-client" id="contact-us">
    <div class="container">
      <div class="row justify-content-start pb-2">
            <div class="col-md-4 heading-section ftco-animate">
                <span class="subheading subheading-with-line"><small class="pr-2 bg-white">Contact Us</small></span>
              <h2 class="mb-4">Contact Us</h2>
            </div>
            <div class="col-md-8 pl-md-5 heading-section ftco-animate">
                <div class="pl-md-4 border-line">
                </div>
            </div>
         </div>

        <div class="col-md-12  map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.613576488883!2d72.84589681490328!3d19.212073087009998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6d6e7b99cb7%3A0xa302830db810a993!2sPerfect%20Constructions!5e0!3m2!1sen!2sie!4v1566767971966!5m2!1sen!2sie" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        

    </div>

    <div class="container">
                
                <div class="row d-flex align-items-stretch no-gutters">
                
                    <div class="contacts col-md-6 p-5 align-items-stretch">
                        <h3>Office Address</h3>
                        
                        <div class="form">
                            <p><span>Office:</span> 45-1/3, Borsapada Road, <br>Indira Nagar, Kandivali West, <br>Mumbai - 400067</p>
                            <p><span>Office Telephone:</span> <a href="tel://+919004555543">+919004555543</a></p>
                            <p><span>Email ID:</span> <a href="mailto:contact@perfectconstructions.net">contact@perfectconstructions.net</a>
                            <br />Website : <a href="/">perfectconstructions.net</a></p>
                        </div>
                    </div>
                
                    <div class="contacts col-md-6 p-5 order-md-last">
                        <h3>Support</h3>
                                    
                            <div class="form">
                              <form action="https://getsimpleform.com/messages?form_api_token=16758dcdaa17c431f3bbb7206c8bc5a2" method="post" id="contactform">
                            
                                <div class="field form-group">
                                    <input type="text" id="txtName" name="name" placeholder="Name" class="form-control" required=true/>
                                    <!-- <input type='hidden' name='redirect_to' value='https://perfectconstructions.net/#thankyou' /> -->
                                    <div class="error" >
                                        
                                    </div>
                                </div>
                                
                                <div class="field form-group">
                                    <input type="text" id="txtEmail" name="email" class="form-control" placeholder="Email" pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" required=true/>
                                    <div class="error">
                                        
                                    </div>
                                </div>
                
                                <div class="field form-group">
                                    <input type="text" ID="txtContact" name="contact" class="form-control" placeholder="Contact" pattern="^[01]?[- .]?\(?[2-9]\d{2}\)?[- .]?\d{3}[- .]?\d{4}$"/>
                                    <div class="error">
                                        
                                    </div>
                                </div>
                
                                <div class="field form-group">
                                    <textarea ID="txtFeedback" name="message" cols="30" rows="7" placeholder="Message" class="form-control" required=true></textarea>
                                </div>
                                
                                <div class="form-group">
                                    <input type="submit" ID="btnSubmit" Text="Send Message" class="btn btn-primary py-3 px-5"/>
                                    <input type="reset"  ID="btnReset" Text="Reset" class="btn btn-secondary py-3 px-5"/>
                                </div>
                            </form>
                            </div>
                    </div>
                
                    <div class="clear"></div>
                </div>
                

    </div>
  </section>
  <script>
      $('#contactform').submit(function(event){
        event.preventDefault();
        $.ajax({
            dataType: 'jsonp',
            url: "https://getsimpleform.com/messages/ajax?form_api_token=16758dcdaa17c431f3bbb7206c8bc5a2",
            data: JSON.stringify( $("#contactform").serializeArray())
        }).done(function() {
        //callback which can be used to show a thank you message
        //and reset the form
            alert("Thank you, for contacting us");
            $('#contactform').trigger("reset");
        });

      });
 
  </script>

