<section class="ftco-section testimony-section bg-light" id="mission">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section ftco-animate">
                        <span class="subheading subheading-with-line"><small class="pr-2 bg-light">MISSION STATEMENT</small></span>
                    <h2 class="mb-4"></h2>
                    <p>To provide the best construction experience through-Relationships built on integrity.
                            Success built on performance.
                            Fueled by a commitment to continual improvement, both personally and professionally.</p>
                    </div>
            </div>

            <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section ftco-animate">
                        <span class="subheading subheading-with-line"><small class="pr-2 bg-light">VISION STATEMENT</small></span>
                    <h2 class="mb-4"></h2>
                    <p>To be sought out as the recognised and trusted firm in the industry and community;
                            retaining, developing, and attracting the best in committed construction leadership;
                            and to drive deliberate and intelligent growth of the company.</p>
                    </div>
            </div>

            <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section ftco-animate">
                        <span class="subheading subheading-with-line"><small class="pr-2 bg-light">Our Core values</small></span>
                    <h2 class="mb-4"></h2>
                    <p>
                            <ul>
                                    <li>Integrity and Honesty—We do what we say we will do.</li>
                                    <li>Accountable and Responsible—We achieve results.</li>
                                    <li>Motivated and Professional—We are problem solvers.</li>
                                    <li>Safety and Quality—We will deliver quality without compromise.</li>
                                    <li>Customer centered – Our success depends on our customer’s satisfaction.</li>
                                </ul>     

                    </p>
                    </div>
            </div>
        </div>
</section>