<section class="ftco-services" id="services">
        <div class="container">
    <div class="row justify-content-start mt-5 py-5">
      <div class="col-md-4 heading-section ftco-animate">
        <h2 class="mb-4">Our Services</h2>
        <p>We provide range of services.</p>
      </div>
      <div class="col-md-8 ftco-animate">
          <div class="row d-flex">
            {% for item in site.data.services %}
             <div class="col-md-6 d-flex align-items-stretch">
                  <div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
                  <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-layers"></span>
                  </div>
                  <div class="media-body p-2 mt-3">
                    <h3 class="heading">{{ item.service-name}}</h3>
                    <p>{{ item.description}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>
        </div>
    </section>